In [1]:
import pandas as pd

# Creating the DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Emma"],
    "Age": [45, 50, 38, 60, 55],
    "Cholesterol": [200, 220, 180, 250, 230]
}

df = pd.DataFrame(data)

# Display the DataFrame
print(df)

      Name  Age  Cholesterol
0    Alice   45          200
1      Bob   50          220
2  Charlie   38          180
3    David   60          250
4     Emma   55          230